body, ul, li, h1, blockquote, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Vollkorn', serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 6px;
}


/* MAIN GRID */

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}

/* HEADER */

.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0, 0, 0, .1);
    border-radius: 6px;
    transition: 100ms;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}

.header li + li {
    margin-left: 32px;
}


/* SIDENAV */

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 32px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 32px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, .15);
    transition: ease-out 100ms;
}

.sidenav li a:hover {
    background: #B07DFB;
}



/* CONTENT */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 32px;
    gap: 32px;
}




/* FOOTER */
.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    color: white;
    text-align: center;
    padding: 32px;
}